.container {
  height: 30%;
  width: 98%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.wrapper {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.album_image {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.album_container {
  animation: kenburns-top-right 20s ease-out infinite both;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.album_info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.album_name {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 15px #775632;
}

.album_name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.album_artist {
  font-size: 15px;
  font-weight: 500;
  text-shadow: 0 0 15px #775632;
}

@keyframes kenburns-top-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 16%;
  }
  100% {
    transform: scale(1.25) translate(20px, -15px);
    transform-origin: right top;
  }
}
