.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 3rem 1rem;
  width: 9rem;
}

.logo {
  margin-bottom: 5rem;
}

.nav__items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.icon {
  transition: all 0.3s ease-in;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
