.navbar__container {
  align-items: center;
  display: flex;
  gap: 2rem;
  height: 10%;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.navigation__arrows {
  display: flex;
  gap: 1rem;
  padding: 0.5rem
}

.widgets__wrapper {
  display: grid;
  gap: 0.5rem;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.widgets__wrapper::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.navigation_button{
  transition: all 0.2s ease-in-out;
}

.navigation_button:hover{
  cursor: pointer;
  transform: scale(1.1);
  filter: contrast(2);
}