.container {
  padding: 0 2rem;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: black;
}

.banner {
  /* border: 6px solid red !important; */
  width: 100% !important;
}
.title {
  align-self: flex-start;
  margin-left: 1rem;
  font-size: 2rem;
}
