.artists_container {
  display: flex;
  height: 40%;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: xx-large;
}
.artists_image_wrapper {
  display: grid;
  margin-top: 0.5rem;
  gap: 0.5rem;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.artist_info {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
}

.artist_image {
  border-radius: 50%;
}

.artist_name:hover {
  cursor: pointer;
  font-weight: 500;
}
