.artists_container {
  display: flex;
  height: 44%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.artists_without_artists {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: xx-large;
  align-self: flex-start;
  margin-bottom: 0.5rem;
}

.artists_image_wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% - 70rem);
}
.artists_image_wrapper::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.artist_info {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
}

.artist_image {
  border-radius: 50%;
}

.artist_name:hover {
  cursor: pointer;
  font-weight: 500;
}
