.app__container {
  display: flex;
  /* height: 80%; */
  height: 880px;
  /* width: 80%; */
  width: 1490px;
  border: 2px solid #775632;
  border-radius: 32px;
  background-image: url('https://i.ibb.co/zbXTdYJ/background-1.png');
  background-size: cover;
  background-position: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
